@import 'colors';

.Theme {
  background-color: $base03;
  color: $base3;

  --cell-background: #{$base0};
  --cell-background-open: #{$base02};
  --cell-border: #{$base02};
  --cell-pressed-color: #{lighten($base02, 4%)};
  --background-base3: #{$base03};
  --background-base2: #{$base02};
  --background-base1: #{$base01};
  --background-base0: #{$base00};
  --foreground-base3: #{$base3};
  --foreground-base2: #{$base2};
  --foreground-base1: #{$base1};
  --foreground-base0: #{$base0};
}
