@import 'colors';

.Theme {
  background-color: $base3;
  color: $base03;

  --cell-background: #{$base00};
  --cell-background-open: #{$base2};
  --cell-border: #{$base2};
  --cell-pressed-color: #{darken($base2, 4%)};
  --board-border-color: #{$base2};
  --background-base3: #{$base3};
  --background-base2: #{$base2};
  --background-base1: #{$base1};
  --background-base0: #{$base0};
  --foreground-base3: #{$base03};
  --foreground-base2: #{$base02};
  --foreground-base1: #{$base01};
  --foreground-base0: #{$base00};
}
