@import 'colors';
$lightRed: lighten($violet, 20%);
.Theme {
  --mine-detonated-background: #{$lightRed};
  --cell-background-flagged-wrong: #{$lightRed};
  --cell-threats-1-color: #{$blue};
  --cell-threats-2-color: #{$green};
  --cell-threats-3-color: #{$red};
  --cell-threats-4-color: #{$violet};
  --cell-threats-5-color: #{$magenta};
  --cell-threats-6-color: #{$cyan};
  --cell-threats-7-color: #{$yellow};
  --cell-threats-8-color: #{$orange};
}
