.Minesweeper {
  --mine-detonated-background: #dc322f;
  --mine-detonated-animation: none;

  --cell-border: var(--cell-background-open);
  --cell-background: #839496;
  --cell-background-open: #eee8d5;
  --cell-background-flagged-wrong: var(--cell-background);
  --cell-threats-1-color: #268bd2;
  --cell-threats-2-color: #859900;
  --cell-threats-3-color: #dc322f;
  --cell-threats-4-color: #6c71c4;
  --cell-threats-5-color: #d33682;
  --cell-threats-6-color: #2aa198;
  --cell-threats-7-color: #b58900;
  --cell-threats-8-color: #cb4b16;
  --cell-pressed-color: #d336827f;

  --cell-color: #002b36;
  --cell-mined-color: var(--cell-color);
  --cell-flagged-color: var(--cell-color);

  --board-border-width: 6px;
  --board-padding: 3px;
}
