@import url(solarized.css);

:root {
  --cell-background: var(--solarized-base00);
  --cell-background-open: var(--solarized-base2);
  --cell-border: var(--solarized-base2);
  --cell-pressed-color: var(--solarized-base2);
  --board-border-color: var(--solarized-base2);
  --background-base3: var(--solarized-base3);
  --background-base2: var(--solarized-base2);
  --background-base1: var(--solarized-base1);
  --background-base0: var(--solarized-base0);
  --foreground-base3: var(--solarized-base03);
  --foreground-base2: var(--solarized-base02);
  --foreground-base1: var(--solarized-base01);
  --foreground-base0: var(--solarized-base00);
}

:root {
  background-color: var(--solarized-base3);
  color: var(--solarized-base03);
}
