.Board {
  padding: var(--board-padding);

  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border-width: var(--board-border-width);
  border-style: var(--board-border-style, solid);
  border-style: var(--board-border-color, inherit);
  border-radius: 10px;

  display: grid;
  gap: 0;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--board-columns), var(--cell-size, 32px));
  grid-template-rows: repeat(var(--board-rows), var(--cell-size, 32px));
  text-align: center;
  vertical-align: middle;
  /* Disable selcting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Board {
  pointer-events: none;
}

.Board[data-state='PLAYING'],
.Board[data-state='NOT_INITIALIZED'] {
  pointer-events: initial;
}
