.ReactModal__Content--after-open {
  position: absolute;
  /* inset: 0; Non-standard*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: var(--background-base3, revert);
  color: var(--foreground-base3, revert);
  @media screen and(min-width: 600px) {
    & {
      padding: 20px;
    }
  }
}
