.Modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  outline: none;
  padding: 20px;
  background-color: var(--background-base3, revert);
  color: var(--foreground-base3, revert);
}
