.Minesweeper {
  --mine-detonated: url('../../themes/gnome-mines/exploded.svg');
  --mine-detonated-background: var(--cell-background-open);
  --mine-detonated-animation: pulse 0.2s ease-in-out 5;

  --mine-disarmed: var(--cell-flagged);
  --mine-uncertain-disarmed: var(--mine-disarmed);
  --mine-0: url('../../themes/gnome-mines/mine.svg');
  --mine-1: var(--mine-0);
  --mine-2: var(--mine-0);
  --mine-3: var(--mine-0);
  --mine-4: var(--mine-0);
  --mine-5: var(--mine-0);
  --mine-6: var(--mine-0);
  --mine-7: var(--mine-0);
  --mine-8: var(--mine-0);
  --mine-9: var(--mine-0);

  --cell-border: transparent;
  --cell-color: transparent !important;
  --cell-background: #888a85;
  --cell-background-open: #d3d7cf;
  --cell-hover: #d3d7cf;
  --cell-background-flagged-wrong: var(--mine-detonated-background);
  --cell-threats-1-color: transparent;
  --cell-threats-2-color: transparent;
  --cell-threats-3-color: transparent;
  --cell-threats-4-color: transparent;
  --cell-threats-5-color: transparent;
  --cell-threats-6-color: transparent;
  --cell-threats-7-color: transparent;
  --cell-threats-8-color: transparent;

  --cell-mined-color: transparent;
  --cell-flagged-color: transparent;
  --cell-flagged: url('../../themes/gnome-mines/flag.svg');
  --cell-flagged-uncertain: url('../../themes/gnome-mines/maybe.svg');
  --cell-flagged-wrong: url('../../themes/gnome-mines/incorrect.svg');
  --cell-pressed-color: var(--cell-hover);

  --board-border-width: 6px;
  --board-padding: 3px;
  --board-border: none;
}

.Board {
  background-color: inherit !important;
  gap: 1px !important;
}

.Cell {
  border-radius: 0 !important;
  border-width: 1.5px !important;
  padding: 0 !important;
  background-size: 67% !important;
  border-style: solid !important;
}

.Minesweeper[data-state='GAME_OVER']
  .Cell[data-mined]:not([data-state='EXPLODED']) {
  background-color: var(--cell-background) !important;
}

.Minesweeper[data-state='COMPLETED'] .Cell[data-mined] {
  background-color: var(--cell-background) !important;
  background-image: var(--cell-flagged);
}

.Minesweeper .Cell[data-threats] span {
  color: transparent !important;
}

.Cell[data-threats='1'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/1mines.svg');
}

.Cell[data-threats='2'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/2mines.svg');
}

.Cell[data-threats='3'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/3mines.svg');
}

.Cell[data-threats='4'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/4mines.svg');
}

.Cell[data-threats='5'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/5mines.svg');
}

.Cell[data-threats='6'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/6mines.svg');
}

.Cell[data-threats='7'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/7mines.svg');
}

.Cell[data-threats='8'][data-state='OPEN'] {
  background-image: url('../../themes/gnome-mines/8mines.svg');
}
