ul.NumeralSystemChooser {
  padding: 0;
  li {
    list-style-type: none;
    margin: revert;
    unicode-bidi: bidi-override;
  }
  .NumeralSystemChooser__digit {
    width: 1.1em;
    display: inline-block;
    text-align: center;
  }
}
